@charset "utf-8"

.blog
  .visual
    +centering(800px)
    margin-bottom: 80px

    img
      width: 800px

  .container
    .article
      margin-top: 0px

      position: relative
      margin-bottom: 150px
      padding-top: 30px

      .title
        font-size: 22px
        // font-family: "A-OTF 見出ゴMB31 Pro", sans-serif
        // font-weight: bold
        font-family: "見出ゴMB1", "Midashi Go MB1", sans-serif
        text-align: center
        margin-bottom: 110px

      .date
        font-size: 12px
        letter-spacing: 0.1em
        text-align: center
        width: 100%
        position: absolute
        top: 0
        left: 0

      h3
        font-size: 16px
        font-weight: bold
        margin: 80px 0 40px

      p
        font-size: 13px
        line-height: 2
        text-align: justify
        margin: -6px 0 40 - 6px