@charset "utf-8"

.blog
  .visual
    text-align: center
    margin-bottom: 80px

    img
      width: 100%
      max-width: 960px

  .container
    .article
      position: relative
      margin-bottom: 150 - 6px
      padding-top: 12 + 20px

      .title
        font-size: 22px
        font-family: "A-OTF 見出ゴMB31 Pro", sans-serif
        font-weight: bold
        // font-family: "見出ゴMB1", "Midashi Go MB1", sans-serif
        text-align: center
        margin-bottom: 100px

      .date
        font-size: 12px
        letter-spacing: 0.1em
        text-align: center
        width: 100%
        position: absolute
        top: 0
        left: 0

      h3
        font-size: 18px
        line-height: 1.5
        font-weight: bold
        margin: 80 - 5px 0 50 - 5px

      p + h3
        margin-top: 100 - 5 - 8px

      p
        font-size: 13px
        line-height: 2
        text-align: justify
        margin: -8px 0 50 - 8px

      img
        width: 100%
        padding: 8px 0 10px
        display: block

      a
        text-decoration: underline

        &:hover
          text-decoration: none

      ul,
      ol
        margin-bottom: 50 - 2px

        li
          margin-bottom: 10px

      ul
        li
          margin-left: -0.2em

          &:before
            content: "・"
            margin-right: 0.2em

      ol
        li
          list-style-type: decimal
          margin-left: 1.5em
      
      blockquote
        background: $gray
        margin-bottom: 50px
        padding: 50px

        p
          text-align: center
          line-height: 1.75
          margin-bottom: -5px

      pre
        background: $gray
        margin-bottom: 50px
        border: none
        padding: 50 - 6px 50px
        overflow: scroll

        code
          line-height: 1.5

      hr
        margin: 0 0 50px
        border: none

      .twitter-tweet
        margin-bottom: 55px !important
      
    .share
      text-align: center
      margin-bottom: 150px
      
      .twitter,
      .facebook,
      .hatena
        display: inline-block

      .twitter
        margin-right: 20px
        position: relative
        top: 1px

      .facebook
        margin-right: 20px

      .hatena
        position: relative
        top: -5px

+mediaquery-sp
  .blog
    .visual
      margin-bottom: 60px

    .container
      .article
        margin-bottom: 100 - 6px
        padding-top: 11 + 15px

        .title
          font-size: 18px
          margin-bottom: 80px

        .date
          font-size: 11px

        h3
          margin: 60 - 5px 0 40 - 5px

        p + h3
          margin-top: 60 - 5 - 8px

        p
          margin-bottom: 40 - 8px

        blockquote
          padding: 20px

        pre
          padding: 20px

        hr
          margin-bottom: 20px

      .share
        margin-bottom: 100px
        display: none

        .twitter
          top: 0

        .hatena
          top: -6px
