@charset "utf-8"

html,
body
  height: 100%

body,
code
  color: $black
  font-size: 13px
  font-family: "Helvetica Neue", Helvetica, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif

body
  background: $light-gray

a
  color: $black
  text-decoration: none

.header
  .nav
    .icon-nav
      +hover
      font-size: 18px
      text-align: center
      line-height: 40px
      width: 40px
      height: 40px
      position: fixed
      top: 40 - 12px
      right: 40 - 12px
      z-index: 2147483647
      cursor: pointer

    ul
      display: none

.page,
.blog
  .header
    +container
    height: 250px
    padding-top: 90px

    .logo
      a
        +hover

        img
          width: 56px
          height: 50px

.container
  +container

.footer
  +container
  padding-bottom: 150px
  
  .copyright
    font-size: 9px
    text-align: center
    letter-spacing: 0.1em

+mediaquery-sp
  .header
    .nav
      .icon-nav
        font-size: 16px
        top: 33 - 10px
        right: 30 - 12px

  .container
    padding: 0 30px

  .footer
    padding-bottom: 100px

    .copyright
      font-size: 8px

  .page,
  .blog
    .header
      height: 90px
      padding: 28px 30px 0

      .logo
        img
          width: 34px
          height: 30px

    .container
      margin-top: 30px
