h2.title 永井大輔
  
ul.social
  li
    a href="https://twitter.com/310u8" target="_blank" Twitter
  li
    a href="https://www.facebook.com/310u8" target="_blank" Facebook
  li
    a href="https://jypg.net/310u8/" target="_blank" JAYPEG
  li
    a href="https://github.com/310u8" target="_blank" GitHub
  li
    a href="https://soundcloud.com/310u8" target="_blank" SoundCloud
  li
    a href="https://www.flickr.com/photos/310u8/" target="_blank" Flickr

p.txt
  | 千葉県生まれインターネット育ちの歌って踊れるWebデザイナー。学生時代に出場した第47回および第48回技能五輪全国大会ウェブデザイン職種部門において2年連続で金賞を受賞。現在は
  a href="http://www.ficc.jp/" target="_blank" FICC inc.
  | にてフロントエンドの制作を担当しています。どうぞご贔屓に。